page-contact {
}
.payment {
  border-left: 2px solid #F06292;
}
ion-badge {
  font-weight: normal;
}
.floating-badge{
  width: 100%;
  position:fixed;
  background-color: transparent;
  z-index: 5;
  bottom:13%;
}
