<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>
      {{Property_Name}}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="toast_remain()">
        <ion-badge small color="false">
              {{Payment_Remained}}
        </ion-badge>
        <ion-badge small color="true">
              $:{{SumRent}}
        </ion-badge>
        <ion-badge small color="yellow">
              R:{{SumUtil}}K
        </ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
  <button class="floating-badge">
    <ion-badge large color="true">
      Recieved: ${{Cash_Got}}
    </ion-badge>
  </button>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="get_data($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding #item *ngFor="let data of Data; let i=index; ">
      <ion-item no-padding>
        <ion-grid>
          <ion-row>
            <ion-col col-5>
              <ion-icon name="md-checkmark-circle-outline" [color]="((data.Is_Paid == null)||(data.Is_Paid == 'false')) ? 'false':'true'"></ion-icon>
              <ion-badge large color="primary">
                {{data.Room_Number}}
              </ion-badge>
            </ion-col>
            <ion-col col-5>
                <ion-badge large color="primary" *ngIf="data.End_Date">
                  {{data.End_Date}}
                </ion-badge>
            </ion-col>
            <ion-col col-2>
                <ion-badge color="true" *ngIf="data.Is_Paid=='true'">
                  PAID
                </ion-badge>
            </ion-col>
          </ion-row>
          <ion-row justify-content-around>
            <ion-col col-4 class="payment"  no-padding>
                <ion-badge color="primary" no-padding>DUE</ion-badge>
                <h3>
                  <ion-icon name="logo-usd" color="true"></ion-icon>
                  <ion-icon color="dark">{{data.Cash_Due}}</ion-icon>
                </h3>
                <h3>
                  <ion-icon color="blue">R</ion-icon>
                  <ion-icon color="dark">{{data.Cash_Due_Riel}}</ion-icon>
                </h3>
                <h3>
                  <ion-icon color="brown">M</ion-icon>
                  <ion-icon color="dark">{{data.Mix_Due}} </ion-icon>
                </h3>
            </ion-col>
            <ion-col col-3 no-padding class="payment" *ngIf="(data.detail_view) && (data.Type != 'LEAVE')" (click)="detail_view(i)">
              <ion-badge color="dark" no-padding>GOT</ion-badge>
              <h3>
                <ion-icon color="dark">{{data.Cash_Paid}}</ion-icon>
              </h3>
              <h3>
                <ion-icon color="dark">{{data.Cash_Got_Riel}}</ion-icon>
              </h3>
              <h3>
                <ion-icon color="dark">{{data.Mix_Got}}</ion-icon>
              </h3>
            </ion-col>
            <ion-col col-3 class="payment" *ngIf="(data.detail_view) && (data.Type != 'LEAVE')" (click)="detail_view(i)" no-padding>
              <ion-badge color="false" no-padding>REMAIN</ion-badge>
              <h3>
                <ion-icon color="dark">{{data.Cash_Due-data.Cash_Paid}}</ion-icon>
              </h3>
              <h3>
                <ion-icon color="dark">{{data.Cash_Remain_Riel}}K</ion-icon>
              </h3>
              <h3>
                <ion-icon color="dark">{{data.Mix_Remain}}</ion-icon>
              </h3>
            </ion-col>
            <ion-col col-4 class="payment" *ngIf="(data.detail_view) && (data.Type == 'LEAVE')" (click)="detail_view(i)">
              <ion-badge color="false">GIVE BACK</ion-badge>
              <h3>
                <ion-icon color="dark">{{data.Price-data.Cash_Due+8.75}}</ion-icon>
              </h3>
              <h3>
                <ion-icon>{{(data.Price-data.Cash_Due+8.75)*Exchange_Rate}}K</ion-icon>
              </h3>
            </ion-col>
            <ion-col col-6 align-self-center *ngIf="!data.detail_view">
              <button ion-button round outline small icon-end mode="ios" (click)="detail_view(i)">
                More
                <ion-icon name="ios-expand" color="primary"></ion-icon>
              </button>
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-item>
      <ion-item-options side="left">
        <button ion-button (click)="add_payment(false,data.Cash_Paid, data.Invoice_ID, data.Cash_Due)">Partial Payment</button>
        <button ion-button (click)="invoice_override(data.Invoice_ID)" color="false">Override Invoice</button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button (click)="add_payment(true,data.Cash_Due, data.Invoice_ID, data.Cash_Due)" color="true">Confirm Full Payment</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
