<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Property" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Input" tabIcon="clipboard"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Collect" tabIcon="cash"></ion-tab>
</ion-tabs>
