<!--
  Generated template for the RoomEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>{{Rooms.Room_Number}}</ion-title>
    <ion-buttons end>
      <button ion-button small round mode="ios" color="dark" (click)="get_reset_form()">Meter Reset Form</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="!Meter.Meter_Is_Replaced">
    <ion-item>
      <ion-label color="primary" floating>Room Number</ion-label>
      <ion-input [(ngModel)]="Rooms.Room_Number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Owner</ion-label>
      <ion-input [(ngModel)]="Rooms.Owner" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Room Price</ion-label>
      <ion-input [(ngModel)]="Rooms.Price" required></ion-input>
    </ion-item>
    <button class="submit" ion-button full mode="ios" color="primary" (click)="save_room()">Save!</button>
  </ion-list>
  <ion-list *ngIf="Meter.Meter_Is_Replaced">
    <ion-item>
      <ion-label color="primary" floating>Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="Meter.Input_Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Electricity Meter Stuck At</ion-label>
      <ion-input [(ngModel)]="Meter.Old_Electric_Meter_Stuck" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Water Meter Stuck At</ion-label>
      <ion-input [(ngModel)]="Meter.Old_Water_Meter_Stuck" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>New Electricity Meter Was</ion-label>
      <ion-input [(ngModel)]="Meter.New_Electric_Meter_Was" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>New Water Meter Was</ion-label>
      <ion-input [(ngModel)]="Meter.New_Water_Meter_Was" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>New Electricity Meter Now</ion-label>
      <ion-input [(ngModel)]="Meter.New_Electric_Meter_Now" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>New Water Meter Now</ion-label>
      <ion-input [(ngModel)]="Meter.New_Water_Meter_Now" type="number" required></ion-input>
    </ion-item>
    <button class="submit" ion-button full mode="ios" color="primary" (click)="create_meter_reset_invoice()">Create Invoice</button>
  </ion-list>
</ion-content>
