<!--
  Generated template for the PropertyShowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-icon name="pin" large item-start>
      {{Property.Name}}
    </ion-icon>
      <ion-buttons end>
        <button mode="ios" full ion-button no-border large color="primary" (click)="save_description()">
            <ion-icon name="md-sync" color="light" item-end>SAVE</ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Note </ion-label>
  </ion-item>
  <ion-item>
    <ion-textarea max="99" placeholder="Note" value="{{Property.Description}}" [(ngModel)]="Property.Description"></ion-textarea>
  </ion-item>
</ion-content>
