<!--
Generated template for the InvoiceOverridePage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title> {{Data.Room_Number}} Override</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-item>
    <ion-label color='false'>Type</ion-label>
    <ion-select [(ngModel)]="Invoice.Type">
      <ion-option value="BOOK">BOOK</ion-option>
      <ion-option value="NORM">NORMAL</ion-option>
      <ion-option value="LEAVE">LEAVE</ion-option>
    </ion-select>
  </ion-item>

  <ion-item-divider mode='ios'>
    <ion-label color='false'>Date</ion-label>
  </ion-item-divider>
  <ion-row no-padding>
    <ion-col col-6>
      <ion-item>
        <ion-label color="primary" floating>From</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="Invoice.Begin_Date"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col col-6>
      <ion-item class="padding-left-2px">
        <ion-label color="primary" floating>Till</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="Invoice.End_Date"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-item-divider mode='ios'>
    <ion-label color='false'>Electric Meter</ion-label>
  </ion-item-divider>
  <ion-row no-padding>
    <ion-col col-6>
      <ion-item>
        <ion-label color="primary" floating>Begin</ion-label>
        <ion-input [(ngModel)]="Invoice.Begin_Electric_Meter" required></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-6>
      <ion-item class="padding-left-2px">
        <ion-label color="primary" floating>End</ion-label>
        <ion-input [(ngModel)]="Invoice.End_Electric_Meter" required></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-item-divider mode='ios'>
    <ion-label color='false'>Water Meter</ion-label>
  </ion-item-divider>
  <ion-row no-padding>
    <ion-col col-6>
      <ion-item>
        <ion-label color="primary" floating>Begin</ion-label>
        <ion-input [(ngModel)]="Invoice.Begin_Water_Meter" required></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-6>
      <ion-item class="padding-left-2px">
        <ion-label color="primary" floating>End</ion-label>
        <ion-input [(ngModel)]="Invoice.End_Water_Meter" required></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-item-divider mode='ios'>
    <ion-label color='false'>Cash</ion-label>
  </ion-item-divider>
  <ion-row no-padding>
    <ion-col col-6>
      <ion-item>
        <ion-label color="primary" floating>Cash Due</ion-label>
        <ion-input [(ngModel)]="Invoice.Cash_Due" required></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-6>
      <ion-item class="padding-left-2px">
        <ion-label color="primary" floating>Cash Paid</ion-label>
        <ion-input [(ngModel)]="Invoice.Cash_Paid" required></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-label color='false'>Is_Paid</ion-label>
    <ion-toggle [(ngModel)]="Invoice.Is_Paid"></ion-toggle>
  </ion-item>
  <button class="submit" ion-button full mode="ios" color="primary" (click)="save_settings()">Save!</button>
</ion-content>
