<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <ion-item>
    <ion-label color="primary" floating>Property Name</ion-label>
    <ion-input [(ngModel)]="settings.Name" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Electricity Price</ion-label>
    <ion-input [(ngModel)]="settings.Electric_Price" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Water Price</ion-label>
    <ion-input [(ngModel)]="settings.Water_Price" required></ion-input>
  </ion-item>
  <button class="submit" ion-button full mode="ios" color="primary" (click)="save_settings()">Save!</button>
</ion-content>
