<!--
  Generated template for the InvoiceFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title> {{ Inputs.Room_Number }} New Invoice</ion-title>
    <ion-buttons end>
      <button mode="ios" full ion-button no-border large color="primary" (click)="save_util()">
          <ion-icon name="md-sync" color="light" item-end>SAVE</ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label color="primary" floating>Date</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="Inputs.Date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Electricity Meter</ion-label>
    <ion-input [(ngModel)]="Inputs.Electric_Meter" type="number" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Water Meter</ion-label>
    <ion-input [(ngModel)]="Inputs.Water_Meter" type="number" required></ion-input>
  </ion-item>

    <button class="submit" ion-button full mode="ios" color="primary" (click)="add_invoice()">Create Invoice!</button>
    <div class="">
      <p>Note*:For newly created rooms</p>
      <p>Existed Rent: Add Past Month Info then Add another one for end of this month</p>
      <p>New Rent: Add starting meters as booking invoice</p>
    </div>
</ion-content>
