// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #F06292,
  secondary:  #ffccd3,
  true:     #228B22,
  false:     #f53d3d,
  yellow:     #FDD023,
  blue:       #7ec0ee,
  light:      white,
  dark:       #1c1c1c
);

//DARK THEME
// $background-ios-color: black;
// $background-md-color: black;
// $background-wp-color: black;
// $tabs-background: #1c1c1c;
// $tabs-md-tab-color-inactive: white;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-title-text-color: #f4f4f4;

$popover-md-min-width:90%;
$popover-md-max-height:90%;
$badge-font-size: 1.6rem;
$alert-button-font-size: 25px;
$alert-min-width: 90%;
$alert-md-message-text-color: #F06292;
$alert-md-message-font-size: 20px;
$alert-md-sub-title-font-size: 20px;
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
