<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>Property</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="import()">
          <ion-icon name="ios-folder-open-outline" color="secondary" large></ion-icon>
      </button>
      <button ion-button icon-only (click)="export()">
          <ion-icon name="ios-cloud-upload-outline" color="secondary" large></ion-icon>
      </button>
      <button ion-button icon-only (click)="add_property()">
        <ion-icon name="add-circle" color="secondary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <button class="floating-badge" (click)="edit_exchange_rate()">
    <ion-badge large color="primary">
      1$:{{Exchange_Rate}}R
    </ion-badge>
  </button>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="get_data($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>

    <ion-item-sliding #item *ngFor="let property of Property; let i=index; ">
      <ion-item (click) = "select(property.Property_ID, property.Name)" [color]= "(Selected_Propery == property.Property_ID) ? 'primary':'white'">
        <ion-icon name="disc" [color]="property.Is_Active"></ion-icon>
        <ion-icon color="dark">{{property.Name}}</ion-icon>
        <ion-icon class="utility-cost" name="flash" color="yellow">{{property.Electric_Price}}/kWh</ion-icon>
        <ion-icon class="utility-cost" name="water" color="blue">{{property.Water_Price}}/m3</ion-icon>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button
        [color]="property.Is_Active"
        (click)="change_status(property.Is_Active, property.Property_ID)">{{property.Is_Active == 'true' ? 'Active': 'Inactive'}}</button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button color="yellow" (click)="show_property(property.Property_ID)">
          <ion-icon name="paper">
          </ion-icon>
          Note
        </button>
        <button ion-button color="blue"
         (click)="present_settings(property.Property_ID)">
         <ion-icon name="options">
         </ion-icon>
         Setting
       </button>
       <button ion-button color="false"
         (click)="delete_property(property.Property_ID)">
         <ion-icon name="md-trash">
         </ion-icon>
         Delete
       </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
