page-home {

}

.floating-badge{
  width: 100%;
  position:fixed;
  background-color: transparent;
  z-index: 5;
  bottom:13%;
}

.utility-cost{
  font-size: 15px;
  float: right;
  margin-top: 4px;
}
