<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>
      {{Property_Name}}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="toast_remain()">
        <ion-badge small color="false">
              {{Input_Remain}}
        </ion-badge>
      </button>
      <button ion-button icon-only (click)="create_pdf()">
        <ion-icon name="ios-print-outline" color="secondary"></ion-icon>
      </button>
      <button ion-button icon-only (click)="add_rooms()">
        <ion-icon name="add-circle" color="secondary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="get_data($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>

    <ion-item-sliding #item *ngFor="let data of Data; let i=index; ">
      <ion-item (click) = "view_room(data.Room_ID)">
        <ion-label color="primary">
          <ion-icon name="md-checkbox" [color]="data.Is_Active"></ion-icon>
          {{data.Room_Number}}
          {{data.Three_Letter_Month}}
        </ion-label>
        <div class="list-icon" item-end>
          <ion-icon name="flash" color="yellow">{{data.End_Electric_Meter-data.Begin_Electric_Meter}} kWh</ion-icon>
          <ion-icon name="water" color="blue">{{data.End_Water_Meter-data.Begin_Water_Meter}} m3</ion-icon>
        </div>
      </ion-item>
      <ion-item-options side="left">
          <ion-label color="secondary" no-padding no-margin>
            <div class="center-vertical">
              <div class="">
                <ion-badge color="dark" item-end>
                  <ion-icon name="flash" color="yellow">{{data.Begin_Electric_Meter}} kw</ion-icon>
                  <ion-icon name="water" color="blue">{{data.Begin_Water_Meter}} m3</ion-icon>
                  | OLD
                </ion-badge>
              </div>
              <div class="">
                <ion-badge color="dark" item-end>
                  <ion-icon name="flash" color="yellow">{{data.End_Electric_Meter}} kw</ion-icon>
                  <ion-icon name="water" color="blue">{{data.End_Water_Meter}} m3</ion-icon>
                  | NEW
                </ion-badge>
              </div>
            </div>
          </ion-label>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button color="yellow" (click)="add_invoice(data.Room_ID, data.Room_Number, data.Price)">
          <ion-icon name="ios-clipboard-outline">
          </ion-icon>
          Invoice
        </button>
        <button ion-button color="dark" (click)="user_leave(data.Room_ID, data.Price)">
          <ion-icon name="md-exit">
          </ion-icon>
          Leave
        </button>
        <button ion-button color="blue"
          (click)="edit_room(data.Room_ID)">
          <ion-icon name="options">
          </ion-icon>
          Edit
        </button>
        <button ion-button color="false"
          (click)="delete_room(data.Room_ID)">
          <ion-icon name="md-trash">
          </ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
