<!--
  Generated template for the PropertyFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>New Room</ion-title>
    <ion-buttons end>
      <button ion-button mode="ios" color="dark" (click)="Is_Multiple=true">Add Multiple</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngIf="!Is_Multiple">
    <ion-label color="primary" floating>Room Number</ion-label>
    <ion-input [(ngModel)]="Rooms.Room_Number" required></ion-input>
  </ion-item>
  <ion-item *ngIf="Is_Multiple">
    <ion-label color="primary" floating>Prefix</ion-label>
    <ion-input [(ngModel)]="Prefix" required></ion-input>
  </ion-item>
  <ion-item *ngIf="Is_Multiple">
    <ion-label color="primary" floating>Start</ion-label>
    <ion-input [(ngModel)]="Start" required></ion-input>
  </ion-item>
  <ion-item *ngIf="Is_Multiple">
    <ion-label color="primary" floating>End</ion-label>
    <ion-input [(ngModel)]="End" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Room Price</ion-label>
    <ion-input [(ngModel)]="Rooms.Price" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Current Electric Meter</ion-label>
    <ion-input [(ngModel)]="Rooms.Electric_Meter" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Current Water Meter</ion-label>
    <ion-input [(ngModel)]="Rooms.Water_Meter" required></ion-input>
  </ion-item>
  <button class="submit" ion-button full mode="ios" color="primary" (click)="add_rooms()">ADD!</button>
</ion-content>
