<!--
  Generated template for the PropertyFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>Add New Property</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label color="primary" floating>Property Name</ion-label>
    <ion-input [(ngModel)]="Property.Name"></ion-input>
    <ion-toggle [(ngModel)]="Property.Is_Active" mode="ios"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Description</ion-label>
    <ion-input [(ngModel)]="Property.Description" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Electricity Price</ion-label>
    <ion-input [(ngModel)]="Property.Electric_Price" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Water Price</ion-label>
    <ion-input [(ngModel)]="Property.Water_Price" required minlength="3"></ion-input>
  </ion-item>
  <button class="submit" ion-button full mode="ios" color="primary" (click)="add_property()">ADD!</button>
</ion-content>
