<!--
Generated template for the RoomShowPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{Rooms.Room_Number}} Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-icon name="disc" [color]="Rooms.Is_Active"></ion-icon>
    <ion-icon color="primary">{{Rooms.Room_Number}}</ion-icon>
    <ion-icon name="logo-usd" color="true" small item-right>{{Rooms.Price}}</ion-icon>
    <ion-icon name="ios-speedometer-outline" color="yellow" small item-right>{{Rooms.Electric_Meter}}/kWh</ion-icon>
    <ion-icon name="ios-speedometer-outline" color="blue" small item-right>{{Rooms.Water_Meter}}/m3</ion-icon>
  </ion-item>
  <ion-item-divider>
    Usage History
  </ion-item-divider>

  <ion-list>
    <ion-item no-padding *ngFor="let invoice of Invoices; let i=index; ">
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-1 no-padding>
            <ion-icon name="md-checkbox" [color]="invoice.Is_Paid"></ion-icon>
          </ion-col>
          <ion-col col-8 no-padding>
            <ion-icon name="calendar" color="primary" small>{{invoice.Begin_Date}} to {{invoice.End_Date?invoice.End_Date:'NA'}}</ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="flash" color="yellow"></ion-icon>{{invoice.Begin_Electric_Meter}} to {{invoice.End_Electric_Meter}} => {{invoice.End_Electric_Meter-invoice.Begin_Electric_Meter}}
          </ion-col>
          <ion-col col-5>
            <ion-badge no-padding color="dark"small>
              {{invoice.Type}}
            </ion-badge>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="water" color="blue"></ion-icon>{{invoice.Begin_Water_Meter}} to {{invoice.End_Water_Meter}} => {{invoice.End_Water_Meter-invoice.Begin_Water_Meter}}
          </ion-col>
          <ion-col col-5>
            <ion-badge no-padding color="false" (click)="invoice_override(invoice.Invoice_ID)">
              <ion-icon name="options" color="light"></ion-icon>
              OVERRIDE
            </ion-badge>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="logo-usd" color="true"></ion-icon>Due: {{invoice.Cash_Due}}, Paid: {{invoice.Cash_Paid}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
